.idea
.DS_STORE
CrashAutoSave*
Backup/*
Release/
Debug/
build*
!build_tdfaust.py
TD-Faust.[0-9]*.toe
SketchSynth.[0-9]*.toe
faust2touchdesigner/Reverb.h
faust2touchdesigner/Faust_Reverb_CHOP.h
faust2touchdesigner/Faust_Reverb_CHOP.cpp
*dsp.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
